<!DOCTYPE html>
<html>
<head>
    <title>View Expenses</title>
</head>

<body>
    <h1>All Expenses</h1>

    {% for expense in expenses %}
        <p>
            ID: {{ expense [0] }} |
            Name: {{ expense[1] }} |
            Cost: {{ expense[2] }} |
            Category: {{ expense[3] }}
        </p>

        <a href="/edit-expense/{{ expense[0] }}">Edit</a>

        <form action="/delete-expense/{{ expense[0] }}" method="POST">
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
    
    <h2>Total Spending: ${{ "%.2f"|format(total) }}</h2>

    <br>

    <a href="/">Back to Home</a>

</body>

</html>